.wrapper {
    position: fixed;
    top: 25px; /* Align vertically at the center */
    right: 0; /* Align to the right side of the page */
    transform: translateY(-50%); /* Center the buttons vertically */
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.wrapper .button {
    display: inline-block;
    height: 42px;
    /* 70% of 60px */
    width: 42px;
    /* 70% of 60px */
    float: right;
    margin: 0 5px;
    overflow: hidden;
    background: #fafcfe;
    border-radius: 35px;
    /* Adjusted for consistency */
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    /* Slightly reduced the shadow size */
    transition: all 0.3s ease-out;
}

.wrapper .button:hover {
    width: 140px;
    /* 70% of 200px */
}

.wrapper .button .icon {
    display: inline-block;
    height: 42px;
    /* 70% of 60px */
    width: 42px;
    /* 70% of 60px */
    text-align: center;
    border-radius: 35px;
    /* Adjusted for consistency */
    box-sizing: border-box;
    line-height: 42px;
    /* 70% of 60px */
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
    background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
    background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
    background: #E1306C;
}

.wrapper .button:nth-child(4):hover .icon {
    background: #333;
}

.wrapper .button:nth-child(5):hover .icon {
    background: #ff0000;
}

.wrapper .button .icon i {
    font-size: 17px;
    /* 70% of 25px */
    line-height: 42px;
    /* 70% of 60px */
    transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
    color: #ffffff;
}

.wrapper .button span {
    font-size: 14px;
    /* 70% of 20px */
    font-weight: 500;
    line-height: 42px;
    /* 70% of 60px */
    margin-left: 7px;
    /* Adjusted for consistency */
    transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
    color: #4267B2;
}

.wrapper .button:nth-child(2) span {
    color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
    color: #E1306C;
}

.wrapper .button:nth-child(4) span {
    color: #333;
}

.wrapper .button:nth-child(5) span {
    color: #ff0000;
}